body {
  font-family: "Onest", sans-serif;
  background-color: #0d192b !important
}


h4{
  color: #FFFFFF;
}
header {
  background-image: linear-gradient(to right, #007bff, #0056b3);
}

.card-title {
  font-weight: bold;
}


footer {
  background-color: #1a1a1a;
  color: #ccc;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  flex: 1 1 250px;
}

.footer-column h3 {
  color: #0084ff;
  margin-bottom: 15px;
}

.footer-column p,
.footer-column ul,
.footer-column a {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #0800ff;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 20px;
  font-size: 13px;
  color: #888;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    flex: 1 1 100%;
  }

  .social-icons {
    justify-content: center;
  }
}

/* Nav bar */

nav {
  background-color: #005377;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav .logo {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #00CFFF;
  transform: scale(1.05);
}

.container-redes{
  padding: 0;
}