
header h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: white;
}

header {
  background: linear-gradient(to left, #0d192b,#07f9a2);
  padding: 30px 0;
}
.titulo1 {
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}
.titulo1:hover{
  transform: scale(1,1);
  color:#9bf7ec ;
}
p {
    max-width: 800px;
    margin: 0 auto 30px auto;
    color: #555;
}
.imagen {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.imagen img {
    width: 500px;
    height: auto;
}
td {
  background-color: #79b4ee; 
  line-height: 1.6;
}
.table th, .table td {
  padding: 15px;
  text-align: center;
}

.table th {
  background-color: #7fc0fd;
  color: white;
}

.table td {
  background-color: #eef6ff;
}
  .equipo {
    text-align: center;
    padding: 40px 20px;
    background-color: #eefbff;
  }
  .equipo {
    text-align: center;
    padding: 20px;
  }
  
  .compañeros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .compañero {
    width: 150px;
  }
  
  .compañero img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .compañero  {
    margin: 10px 0 5px;
    font-size: auto;
  }
  
  .compañero {
    font-size: 14px;
    margin: 0;
  }